<h2>Listado de Plantas</h2>
<br>
<button (click)="crearPlantaForm()"  class="ml-2 btn btn-primary">Crear Planta</button>
<br>
<br>
<div class="table-responsive">
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha Ingreso</th>
        <th>Cantidad</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planta of planta">
        <td>{{planta.id}}</td>
        <td>{{planta.nombre}}</td>
        <td>{{planta.descripcion}}</td>
        <td>{{planta.fechaIngreso}}</td>
        <td>{{planta.cantidad}}</td>
        <td>{{planta.valor}}</td>
        <td>{{planta.categoria}}</td>
        <td>
          <button (click)="actualizarPlanta(planta.id)" class="mr-1 btn btn-primary"  >Editar</button>
          <button (click)="eliminarPlanta(planta.id)" class="mr-1 btn btn-danger" >Eliminar</button>
          <button (click)="verDetallesDeLaPlanta(planta.id)" class=" btn btn-success" >Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
