<div class="col-md-6 offset-md-3">
  <br>
  <h3 class="text-center">Detalles del Proveedor</h3>

  <button (click)="irAtras()" class="btn btn-info">Atras</button>
  <br><br>
  <div>
    <label><strong>ID: </strong>{{ proveedor.id }}</label>
  </div>
  <div>
    <label><strong>Nombre: </strong>{{ proveedor.nombre }}</label>
  </div>
  <div>
    <label><strong>Descripcion: </strong> {{ proveedor.direccion }}</label>
  </div>
  <div>
    <label><strong>Fecha Ingreso: </strong>{{ proveedor.telefono }}</label>
  </div>
  <div>
    <label><strong>Cantidad: </strong>{{ proveedor.paginaWeb }}</label>
  </div>
</div>
