<div class ="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Plantas</h3>
    <form (ngSubmit) = "crearPlanta()" #myForm="ngForm">
        <div class="form-group">
            <label>Nombre:</label>
            <input type = "text"
            class="form-control"
            id = "planta-nombre"
            [(ngModel)] = "planta.nombre"
            name="nombre"
            >
        </div>
        <div class="form-group">
            <label>Descripcion:</label>
            <input type = "text"
            class="form-control"
            id = "planta-descripcion"
            [(ngModel)] = "planta.descripcion"
            name="descripcion"
            >
        </div>
        <div class="form-group">
            <label>Fecha Ingreso:</label>
            <input type = "date"
            class="form-control"
            id = "planta-fechaIngreso"
            [(ngModel)] = "planta.fechaIngreso"
            name="fechaIngreso"
            >
        </div>

        <div class="form-group">
            <label>Cantidad:</label>
            <input type = "text"
            class="form-control"
            id = "planta-cantidad"
            [(ngModel)] = "planta.cantidad"
            name="cantidad"
            >
        </div>
        <div class="form-group">
            <label>Valor:</label>
            <input type = "text"
            class="form-control"
            id = "planta-valor"
            [(ngModel)] = "planta.valor"
            name="valor"
            >
        </div>
        <div class="form-group">
            <label>Categoria:</label>
            <input type = "text"
            class="form-control"
            id = "planta-categoria"
            [(ngModel)] = "planta.categoria"
            name="categoria"
            >
        </div>
        <button id="guardarPlanta"  [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
