<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Detalles de la Planta</h3>
  <br>
  <button (click)="irAtras()" class="btn btn-info">Atras</button>
  <br><br>
  <div>
    <label><strong>Nombre: </strong>{{ planta.nombre }}</label>
  </div>
  <div>
    <label><strong>Descripcion: </strong> {{ planta.descripcion }}</label>
  </div>
  <div>
    <label><strong>Fecha Ingreso: </strong>{{ planta.fechaIngreso }}</label>
  </div>
  <div>
    <label><strong>Cantidad: </strong>{{ planta.cantidad }}</label>
  </div>
  <div>
    <label><strong>Valor: </strong>{{ planta.valor }}</label>
  </div>
  <div>
    <label><strong>Categoria: </strong>{{ planta.categoria }}</label>
  </div>
</div>
