
<h3>Detalles del empleado</h3>
    <div>
    <label><b>ID: </b>{{ planta.idPlanta }}</label>
    </div>
    <div>
    <label><b>Nombre: </b>{{ planta.nombre }}</label>
    </div>
    <div>
    <label><b>Descripcion: </b> {{ planta.descripcion }}</label>
    </div>
    <div>
    <label><b>Fecha Ingreso: </b>{{ planta.fechaIngreso }}</label>
    </div>
    <div>
    <label><b>Cantidad: </b>{{ planta.cantidad }}</label>
    </div>
    <div>
    <label><b>Valor: </b>{{ planta.valor }}</label>
    </div>
    <div>
    <label><b>Categoria: </b>{{ planta.categoria }}</label>
    </div>
