
  <h3 >Registro de Factura</h3>
  <form [formGroup]="facturaForm" (ngSubmit)="crear()" >
    <div class="row">
      <div  class="col-sm-2" >
        <label>Cliente:</label>
      </div>
      <div class="col-sm-4">
        <input validar type="number" class="form-control" id="cliente"  name="cliente" placeholder="Id cliente" formControlName ="cliente">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>Planta:</label>
      </div>
      <div class="col-sm-4">
        <select id="comandoProductosFacturar" (change)="saveCode($event)" class="form-control">
          <option id="selector" *ngFor="let c of listaPlantas | async" [value]="c.nombre">{{c.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <label>Fecha Ingreso:</label>
      </div>
      <div class="col-sm-4">
        <input validar type="date" class="form-control" id="fechaIngreso" name="fechaIngreso" formControlName="fechaIngreso"
        name="fechaIngreso">
      </div>
    </div>

    <button id="botonGuardar"class="btn btn-primary">Guardar</button>
  </form>

