<div class="col-md-6 offset-md-3">
  <h3 class="text-center">Registro de Factura</h3>
  <form  (ngSubmit)="crearFactura()" #myForm = "ngForm" >
    <div class="form-group">
      <label>Cliente:</label>
      <input type="number" class="form-control" id="cliente" [(ngModel)]="facturaCrear.idCliente" name="nombre">
    </div>


    <div class="form-group">
      <label>Planta:</label>
      <select id="codes" (change)="saveCode($event)" class="form-control">
        <option id="selector" *ngFor="let c of listaPlantas | async" [value]="c.nombre">{{c.nombre}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Fecha Ingreso:</label>
      <input type="date" class="form-control" id="fechaIngreso" [(ngModel)]="facturaCrear.fechaIngreso"
        name="fechaIngreso">
    </div>

    <button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

