<h2>Lista Proveedores</h2>
<br>
<button id="botonCrearProveedor" (click)="crearProveedorForm()"  class="ml-2 btn btn-primary">Crear Proveedor</button>
<br>
<br>
<div id="listaTablaProveedores" class="table-responsive">
  <table class="table table-striped">
    <caption>New York City Marathon Results 2013</caption>
    <thead class="table-dark">
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>PaginaWeb</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of listaProveedores | async">
        <td>{{proveedor.id}}</td>
        <td>{{proveedor.nombre}}</td>
        <td>{{proveedor.direccion}}</td>
        <td>{{proveedor.telefono}}</td>
        <td>{{proveedor.paginaWeb}}</td>
        <td>
          <button (click)="actualizarProveedor(proveedor.id)" class="mr-1 sm btn-primary" >Editar</button>
          <button (click)="eliminarProveedor(proveedor.id)" class="mr-1 sm btn-danger"  >Eliminar</button>
          <button (click)="verDetallesDelProveedor(proveedor.id)" class="sm btn-success" >Detalles</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
