
<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">Consulta Ventas Por Dia</h5>
    <p class="card-text">Ingrese la fecha en la cual quiere consultar las ventas</p>

    <input type="date" required [(ngModel)]="fecha"    >
    <br><br>
    <button  (click)="calcularSuma()" class="mb-1 btn btn-primary" >Consultar</button>
    <br><br>
    <label><b>El valor vendido fue: </b> {{ venta.ventaDia }}</label>
    <br>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>



