
<!-- <div class="col-md-6 offset-md-3">
  <h3 class="text-center">Consulta de la venta diaria</h3>
  <form (ngSubmit)="onSubmit()" #ventaForm="ngForm">
    <div class="form-group">
      <label>Fecha : </label>
      <input type="date" class="form-control" id="ventaDia" [(ngModel)]="venta.ventaDia" name="ventaDia" required
        placeholder="Seleccione la fecha " #ventaDia="ngModel">
        <div class="alert alert-danger" *ngIf="ventaDia.invalid && (ventaDia.dirty || ventaDia.touched)">
          <div *ngIf="ventaDia.errors.required">
            Seleccione la fecha para buscar la venta
          </div>
        </div>
    </div>
    <button (click)="calcularSuma(ventaDia.value)" class="Mb-1" style="margin:10px">Consultar</button>
  </form>
</div> -->

<div class="card text-center">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">Consulta Ventas Por Dia</h5>
    <p class="card-text">Ingrese la fecha en la cual quiere consultar las ventas</p>
    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    <input type="date"   #fechaInput="ngModel" required [(ngModel)]="venta.ventaDia" >
    <br><br>
    <button [disabled]="fechaInput.invalid" (click)="calcularSuma(fechaInput.value)" class="mb-1 btn btn-primary" >Consultar</button>
    <br><br>
    <label><b>El valor vendido fue: </b> {{ venta.ventaDia }}</label>
    <br>
  </div>
  <div class="card-footer text-muted">

  </div>
</div>



